/* css/style.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#formulario {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border-radius: 10px;
  z-index: 1000;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#formulario label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

#formulario input,
#formulario select,
#formulario button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#formulario button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#infoRuta {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

#map {
  flex: 1;
  height: 100vh;
}
