html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#formulario {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(10, 40, 80, 0.6); /* Transparente azul */
  padding: 15px;
  border-radius: 15px;
  z-index: 1000;
  color: white;
  width: 260px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

label, input {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
  width: 100%;
}

input {
  padding: 6px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
}

#btnCalcular {
  padding: 10px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 6px;
  cursor: pointer;
  width: 100%;
}

#infoRuta {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(255,255,255,0.2);
  padding: 8px;
  border-radius: 10px;
  display: none;
  text-align: center;
}
